{% extends "base.html" %}
        
{% block content %}

    <h1>Students list</h1>

    <hr>
                    
    {% for item in students %}

        <p> first name: {{ item.first_name }} </p>
        <p> Last name: {{ item.last_name }} </p>
        <p> Course: {{ item.course }} </p>
        <p> Borning date: {{ item.borning_date }} </p>
        <br>

    {% endfor %}

    <hr>

    <p> Add a student </p>

    <form method="POST" action="/students/">
        {% csrf_token %}
        {{ form }}
        <button type="submit"> Send </button>
    </form>
        
{% endblock %}        